
NODE_ENV=production
PORT=5000


# For local MongoDB: mongodb://localhost:27017/krishak-shayak
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/krishak-shayak
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/krishak-shayak


JWT_SECRET=your_jwt_secret_key_here

# Frontend URL (Vercel deployment URL)
# For local: http://localhost:5173
# For production: https://your-app.vercel.app
FRONTEND_URL=http://localhost:5173

# OpenWeatherMap API Key
OPENWEATHER_API_KEY=your_openweathermap_api_key

# Redis (for caching)
# For local: redis://localhost:6379
# For cloud: redis://username:password@host:port
REDIS_URL=redis://localhost:6379

# Data.gov.in API Key (for Market Prices)
DATA_GOV_API_KEY=your_data_gov_api_key

# Google Sheets CSV URL (for Government Schemes)
SCHEMES_SHEET_URL=https://docs.google.com/spreadsheets/d/e/YOUR_SHEET_ID/pub?output=csv
